<h1>
    Search Account by Account number
</h1>


<div>
    <form class = form #accNo = "ngForm" (ngSubmit) = getStatement(accNo.value)>
        
        <mat-form-field appearance="fill">
          <mat-label>Account Number</mat-label>
          <input matInput required name = "accNo" ngModel>
        </mat-form-field>
        
        <button class = form-button 
          mat-raised-button color="primary"
          [disabled] = "!accNo.form.valid">
          Go
        </button>
        
    </form>
    <br>


</div>

<!-- <div *ngIf = "!onStart" class="header-title">
    {{"Account Number: " +  account.accountNumber}}<p></p>
    {{"Customer Name: " + account.custName}}<p></p>
    {{"Account Balance: " + account.accountBalance}}  
</div> -->

<div>
  <mat-card class="card">
    <mat-card-title-group>
      <mat-card-title>Account Details</mat-card-title>
      <!-- <mat-card-subtitle>Small</mat-card-subtitle> -->

    </mat-card-title-group>
    <mat-card-content>
      {{"Account Number: " +  account.accountNumber}}<p></p>
      {{"Customer Name: " + account.custName}}<p></p>
      {{"Account Balance: " + account.accountBalance}}
    </mat-card-content>
  </mat-card>
</div>

<!-- <img src = "assets/images/batch62.gif" > -->

<table mat-table [dataSource]="transactions" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
          <th mat-header-cell *matHeaderCellDef> Date </th>   
    <!-- Date Column -->
    <ng-container matColumnDef="Date">
      <th mat-header-cell *matHeaderCellDef> Date </th>
      <td mat-cell *matCellDef="let transactions"> {{transactions.date}} </td>
    </ng-container>
  
    <!-- Reference Column -->
    <ng-container matColumnDef="Reference">
      <th mat-header-cell *matHeaderCellDef> Reference </th>
      <td mat-cell *matCellDef="let transactions"> {{transactions.reference}} </td>
    </ng-container>
  
    <!-- Amount Column -->
    <ng-container matColumnDef="Amount">
      <th mat-header-cell *matHeaderCellDef> Amount </th>
      <td mat-cell *matCellDef="let transactions"> {{transactions.amount}} </td>
    </ng-container>
  
    <!-- Cr/Db Column -->
    <ng-container matColumnDef="Cr/Db">
      <th mat-header-cell *matHeaderCellDef> Cr/Db </th>
      <td mat-cell *matCellDef="let transactions"> {{transactions.type}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <!-- displayedColumns: string[] = ['Date', 'Reference', 'Amount', 'Cr/Db'] -->


<!-- <div>
    <h1>Account Details</h1>
    <h2 *ngFor = "let transaction of transactions" > {{account.transactions}} </h2>Table 

    <h2 *ngFor = "let transaction of transactions" > 
        {{account.transactions}}
        Date
        reason
        amount
        executedBy
    </h2>Table 
</div> -->