<h1>
  Create Account Form
</h1>

<div>

<form class = form #registerForm = "ngForm" (ngSubmit) = createAccount(registerForm.value)>
  <mat-form-field appearance="fill">
    <mat-label>Initial Deposit</mat-label>
    <input matInput required name = "accountBalance" ngModel>
  </mat-form-field>


  <h2>Select Type of Account</h2>

  <mat-radio-group aria-label="Select an option">
    <mat-radio-button value="SB">Savings Account</mat-radio-button>
    <input matInput name="SB" ngModel>
    <mat-radio-button value="CA">Current Account</mat-radio-button>
    <input matInput name="CA" ngModel>
  </mat-radio-group>

  <button
    class = form-button
    mat-raised-button color ="primary"
    [disabled] = "!registerForm.form.valid">
    Submit
  </button>
</form>

</div>
