<p>Create Account Form</p>
<div>

  <form #registerForm = "ngForm" (ngSubmit) = createAccount(registerForm.value)>
<mat-form-field appearance="fill">
    <mat-label>Initial Deposit</mat-label>
    <input matInput name="accountBalance" ngModel>
  </mat-form-field>


  <p> Select Type of Account</p>
  <mat-radio-group aria-label="Select an option">
    <mat-radio-button value="SB">Savings Account</mat-radio-button>
    <input matInput name="SB" ngModel>
    <mat-radio-button value="CA">Current Account</mat-radio-button>
    <input matInput name="CA" ngModel>
  </mat-radio-group>
  <button mat-button color="primary">Submit</button>
</form>
</div>
