<h1>
  Add beneficiary
</h1>

<div>
<form #beneficiaryForm = "ngForm" (ngSubmit) = createBeneficiary(beneficiaryForm.value)>

<mat-form-field class="example-full-width" appearance="fill">
  <mat-label>Enter Account Number</mat-label>
  <input matInput name="accountNumber" ngModel>
</mat-form-field><br>


<p> Select Type of Account</p>
<mat-radio-group aria-label="Select an option" ngModel="accountType" name="accountType">
  <mat-radio-button *ngFor="let type of accountType" [value]="type">
    {{type}}&nbsp;
  </mat-radio-button>

</mat-radio-group>
<button mat-button color="primary"
(click)= "openSnackBar()"
>Submit</button>

</form>
</div>
