<div style="Text-align:center">
<a mat-raised-button color="" class="button-stretched" routerLink="/staff">Create Staff</a>
<a mat-raised-button color="primary" class="button-stretched" routerLink="/viewstaff">View Staffs</a><br>

<!-- <mat-card class="example-card">
    <input type="text" placeholder="Enter Staffs Name"><br>
<input type="text" placeholder="Enter Staffs usernameName"><br>
<input type="text" placeholder="Enter Security password"><br>
<input type="text" placeholder="Re Enter password"><br>
  </mat-card> -->

  <div class="container">
    <input type="text" placeholder="Enter Staffs Name"><br>
<input type="text" placeholder="Enter Staffs usernameName"><br>
<input type="text" placeholder="Enter Security password"><br>
<input type="text" placeholder="Re Enter password"><br>
<button mat-raised-button color="grey" class="button-stretched">Create</button>  
</div>





</div>
<router-outlet></router-outlet>




