
<div class = "grid">
  <mat-card class="example-card" *ngFor="let account of account">
  <mat-card-title-group>
    <mat-card-title> Acc No: {{account.accountNumber}}</mat-card-title>
    <mat-card-subtitle> Date of Publication:
      {{account.creationDate}}</mat-card-subtitle><br>
    <mat-card-subtitle>Name: {{account.custName}}</mat-card-subtitle><br>
    <mat-card-subtitle>Phone Number: {{account.phone}}</mat-card-subtitle>
    <mat-card-subtitle>Account Balance: {{account.accountBalance}}</mat-card-subtitle>

    <a (click) = "moreDetails(account.accountNumber)" routerLink = "active">More Details</a>

  </mat-card-title-group>
  <mat-card-content>

  </mat-card-content>
</mat-card>



</div>
