<h1>
    Beneficiaries
</h1>


<table mat-table [dataSource]="beneficaries" class="mat-elevation-z8">
    <tr> Newly Added Beneficiaries</tr>
    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
        <th mat-header-cell *matHeaderCellDef> Reference </th>
          
    <!-- Date Column -->
    <ng-container matColumnDef="Customer">
      <th mat-header-cell *matHeaderCellDef> Customer </th>
      <td mat-cell *matCellDef="let beneficaries"> {{beneficaries.fromCustomer}} </td>
    </ng-container>
  
    <!-- Reference Column -->
    <ng-container matColumnDef="beneficiaryName+AcNo">
      <th mat-header-cell *matHeaderCellDef> Beneficiary Name <br> Beneficiary AcNo </th>
      <td mat-cell *matCellDef="let beneficaries"> {{beneficaries.beneficiaryName}} {{" " + beneficaries.beneficaryAcNo }} </td>
    </ng-container>
  
    <!-- Amount Column -->
    <ng-container matColumnDef="beneficiaryAddedDate">
      <th mat-header-cell *matHeaderCellDef> Beneficiary Added Date </th>
      <td mat-cell *matCellDef="let beneficaries"> {{beneficaries.beneficiaryAddedDate}} </td>
    </ng-container>
  
    <!-- Cr/Db Column -->
    <ng-container matColumnDef="approved">
      <th mat-header-cell *matHeaderCellDef> Approved</th>
      <td mat-cell *matCellDef="let beneficaries"> {{beneficaries.approved}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <!-- displayedColumns: string [] = ["Customer", "beneficiaryName+AcNo", "beneficiaryAddedDate", "approved" ]; -->

<!-- <div>
    <h1>Account Details</h1>
    <h2 *ngFor = "let transaction of transactions" > {{account.transactions}} </h2>Table 

    <h2 *ngFor = "let transaction of transactions" > 
        {{account.transactions}}
        Date
        reason
        amount
        executedBy
    </h2>Table 
</div> -->