
<mat-card>
  <mat-card-title-group>
    <mat-card-title> Acc No: {{users.accountNumber}}</mat-card-title><br>
    <mat-card-subtitle> Date of Publication: {{users.creationDate}}</mat-card-subtitle><br>
    <mat-card-subtitle>Name: {{users.custName}}</mat-card-subtitle><br>
    <mat-card-subtitle>Phone Number: {{users.phone}}</mat-card-subtitle>
    <mat-card-subtitle>Account Balance: {{users.accountBalance}}</mat-card-subtitle>

    <span><a routerLink="/customerDashboard">
        <mat-icon>home</mat-icon>
      </a></span>
  </mat-card-title-group>
  <mat-card-content>

  </mat-card-content>
</mat-card>
