

<mat-tab-group dynamicHeight>
    <mat-tab label="My Account" routerLink= "/customerWHOAMI">
  
      <div class="example-box mat-elevation-z4" >
        <app-customer-whomi></app-customer-whomi>
      </div>
    
    </mat-tab>
  
    <mat-tab label="Create Account" routerLink = "/CreateAccount">
  
      <div class="example-box mat-elevation-z4">
            <app-customer-create-account></app-customer-create-account>
      </div>
  
    </mat-tab>
  
    <mat-tab label="Remove Beneficiary" routerLink="/removeBeneficiary">
  
        <div class="example-box mat-elevation-z4">
          <app-customer-remove-beneficiary></app-customer-remove-beneficiary>
        </div>
  
    </mat-tab>
  
    <mat-tab label="Add Beneficiary" routerLink="/addBeneficiary">
  
        <div class="example-box mat-elevation-z4">
          <app-customer-add-beneficiary></app-customer-add-beneficiary>
        </div>
  
    </mat-tab>
  
    <mat-tab label="Transfer" routerLink="/transferMoney">
  
      <div class="example-box mat-elevation-z4">
        <app-customer-transfer-money></app-customer-transfer-money>
      </div>
  
    </mat-tab>
  
  <mat-tab label="View Statement" routerLink="/viewStatement">
  
    <div class="example-box mat-elevation-z4">
      <app-customer-view-statement></app-customer-view-statement>
    </div>
  
  </mat-tab>
  
  
  
   <!-- <mat-tab label="Veiw Statement" routerLink="/viewStatement">
  
    <div class="example-box mat-elevation-z4">
      <app-customer-view-statement></app-customer-view-statement>
    </div>
  
  </mat-tab> -->
  
  <mat-tab label="Customer Profile" routerLink="/customerProfile">
  
    <div class="example-box mat-elevation-z4">
      <app-customer-profile></app-customer-profile>
    </div>
  
  </mat-tab>
  
  
  
  </mat-tab-group>
  
  
  <!-- <mat-drawer-container class="example-container">
      <mat-drawer mode="side" opened>
          <div class="td">
          <button>CREATE ACCOUNT</button><br>
          <button>ADD BENEFICIARY</button><br>
          <button>REMOVE BENEFICIARY</button><br>
          <button>TRANSFER MONEY</button><br>
          <button>VIEW STATEMENTS</button><br>
          </div>
  
          <mat-form-field>
            <mat-icon></mat-icon>
          </mat-form-field>
  
  
      </mat-drawer>
      <mat-drawer-content>
  
          <div class="example-sidenav-content">
              <p>ACCOUNT TYPE: </p><br>
              <p>ACCOUNT BALANCE: </p><br>
           <mat-slide-toggle>ENABLE/DISABLE</mat-slide-toggle><br>-->  
  <!-- 
          <mat-card class="example-card">
              <mat-card-title-group>
                <mat-card-title>Shiba Inu</mat-card-title>
                <mat-card-subtitle>Small</mat-card-subtitle>
                <img mat-card-sm-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" ><br>
                <mat-slide-toggle>ENABLE/DISABLE</mat-slide-toggle><br>
              </mat-card-title-group>
              <mat-card-content>
            
              </mat-card-content>
            </mat-card>
            <button mat-button color="primary">View More</button>
            
            
  
          <p> ACCOUNT TYPE</p><br>
          <p>ACCOUNT BALANCE: </p><br>
          <mat-slide-toggle>ENABLE/DISABLE</mat-slide-toggle>
  
  
          <mat-card class="example-card">
              <mat-card-title-group>
                <mat-card-title>Shiba Inu</mat-card-title>
                <mat-card-subtitle>Small</mat-card-subtitle>
                <img mat-card-sm-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" ><br>
                <mat-slide-toggle>ENABLE/DISABLE</mat-slide-toggle>-->  
              <!-- </mat-card-title-group>
              <mat-card-content>
                {{longText}}
              </mat-card-content>
            </mat-card>
            <button mat-button color="primary">View More</button>
          </div>
      </mat-drawer-content>
    </mat-drawer-container>
           -->
     
  