<!--mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
<div style="text-align:right">Super Admin</div>
<span><a routerLink="">Super Admin</a></span-->
<p>
    <mat-toolbar>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home">home</mat-icon>
        
    </button>
      <span class="example-spacer"></span>
      <span>Super Admin</span>
    </mat-toolbar>
  </p>
  

