.example-spacer{
    flex: 1 1 auto;
}
.bg-color{
    background-color:blue;
}
h1{
    margin-top: 7px;
    margin:0;
    padding:0;
    height:100;
    position:relative;
}
.example-spacer {
    flex: 1 1 auto;
  }